{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>

    {% block refresh %}
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FORNO SA</title>

    {% block css_block %}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" >
        <link rel="stylesheet" href="{% static 'dist/css/sb-admin-2.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/morrisjs/morris.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'jqueryCountdown/css/jquery.countdown.css' %}"> 

    {% endblock %}

    {% block js_block %}
        <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script>
        <script src="{% static 'data/morris-data.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.js' %}"></script>
        <script src="{% static 'vendor/jquery/jquery.maskedinput.js' %}"></script>
        <script src="{% static 'chartkick.js' %}"></script>
        <script src="{% static 'highcharts.js' %}"></script>
        <script src="{% static 'jqueryCountdown/js/jquery.plugin.js' %}"></script> 
        <script src="{% static 'jqueryCountdown/js/jquery.countdown.js' %}"></script>
        <script src="{% static 'jqueryCountdown/js/jquery.countdown-pt-BR.js' %}"></script>
    {% endblock %}

</head>

<body>
    <div id="wrapper">
		{% block header %}
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="{% url 'inicio' %}">Forno SA</a>
				</div>

					<ul class="nav navbar-top-links navbar-right">
						{% if not user.is_authenticated %}
							<li>
								<a href="{% url 'create-usuario' %}"><i class="fa fa-user fa-fw"></i> Cadastro</a>
							</li>
							<li>
								<a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a>
							</li>
						{% elif user.is_authenticated %}
							<li>Bem vindo, {{ user.get_full_name }}.</li>
							<li>
								<a href="{% url 'detail-usuario' user.pk %}"><i class="fa fa-gear fa-fw"></i> Configurações</a>
							</li>
							<li>
								<a href="{% url 'logout'%}"><i class="fa fa-sign-out fa-fw"></i> Desconectar</a>
							</li>
						{% endif %}
					</ul>
		{% endblock %}

			{% block sidebar %}
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            </li>
                            <li>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'create-tratamento' %}"><i class="fa fa-dashboard fa-fw"></i> Iniciar Tratamento</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Estatísticas</a>
                            </li>
                            <li>
                                <a href="{% url 'nbr' %}"><i class="fa fa-table fa-fw"></i> NBRs</a>
                            </li>
                            <li>
                                <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Informações</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Tipos de Têmpera</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i> Última Sessão</a>
                            </li>
                        </ul>
                    </div>
                </div>
			{% endblock %}
		</nav>

        {% block conteudo %}
            <div class="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">FORNO SA</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="painel-body">
                                <p> <small>Projeto de alunos da UnB - FGA.</small> </p>
                                <p> <small>Forno para tratamento térmico de materiais.</small> </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </div>
</body>
</html>
