{% extends 'base.html' %}
{% load chartkick %}
{% load i18n staticfiles %}




{{block.super}}
        <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
          padding-top: 100px;
          padding-bottom: 100px;
        }
        </style>

{% block conteudo %}
<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gráfico de Acompanhamento</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            
                            <h4 class="pull-left">Temperatura x Tempo {{tempo}} </h4>
                            <span id="defaultCountdown" class="col-lg-4 pull-right"></span>
                        </div>
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="container">
                                   {% line_chart dados %}
                                </div>
                            </div>
                        </div>
                    </div>
                        
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var hora = ({{hora}} * 3600) + ({{min}} * 60) + ({{seg}}); 
    $.countdown.setDefaults($.countdown.regionalOptions['pt-BR']);
    $('#defaultCountdown').countdown({until: hora, format: 'HMS'}); 
    </script>
</body>

{% endblock conteudo %}


